<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <!-- <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div> -->
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
         React PlayPlace
      </h1>
      <h2>Let's build some stuff.</h2>
      <%= link_to dashboard_path,  :class => "ui huge primary button" do %>
        Let's Go!
        <i class="right arrow icon"></i>
      <% end %>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Let's explore what React can do.</h3>
          <p>This is just an exploration into various ways to use react on Rails.</p>
          <h3 class="ui header">Im a student at <a href="http://turing.io">Turing</a> Yo.</h3>
          <p>Yes that's right, Javascript is the stuff dreams are made of.</p>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">

          <a href="http://github.com/adamki" class="ui huge button">
            Check me Out on Github  <i class="github alternate icon right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
